p, h1{
    color: white;
}

#div1{
    display: inline-block;
    width: 400px;
    height: auto;
    background-color:saddlebrown;
    padding: 10px;
}

#div2{
    display: inline-block;
    width: 50%;
    height: auto;
    background-color: rgb(80, 117, 80);
    float: right;
    padding: 10px;
}